/**
 * Editor
 *
 * Styles for the Gutenberg Editor.
 *
 * @since 1.0.0
 */

@import "common/helpers";
@import "common/variables";
@import "common/fonts";

// Fixes Seravo's footer overlaying some elements.
.edit-post-layout__content {
  padding-bottom: 3rem;
}

.editor-styles-wrapper {
  background-color: $brand-background;
  // @import "normalize-scss";
  > .editor-writing-flow {
    font-family: $font-primary;
    color: $brand-primary;
  }
  .wp-block {
    max-width: 100%;
  }
  @import "blocks/blocks";
}
